<a href="#/drugs">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add drug</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="adddrug()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="drug.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>medicine</label>
          <select ng-model="drug.medicine" class="form-control">
          </select>
        </div>
        <div class="form-group">
          <label>Producer</label>
          <input type="text" class="form-control" ng-model="drug.producer" placeholder="Producer">
        </div>
        
        <div class="form-group">
          <label>Prices</label>
          <input type="text" class="form-control" ng-model="drug.prices" placeholder="Prices">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="drug.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="drug.image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
          <label>Buy URL</label>
          <input type="text" class="form-control" ng-model="drug.buy_url" placeholder="Buy URL">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>
